
/*Large tablet portrait*/

@media screen and (max-width: 768px) {

    #picture_marion {
        width: 130px;
        height: 130px;
        border: 1px solid #B2BABB;
    }

    img {
        width: 130px;
        height: 130px;
    }

    h1 {
        font-size: 2rem;
        padding-left: 5%;
    }
    
    h2 {
        font-size: 1rem;
        padding-left: 5%;
    }

    h3 {
        font-size: 0.8rem;
    }
    
    h4 {
        font-size: 1rem;
    }

    p {
        font-size: 0.7rem;
    }

    .line {
        border-top: 0.5px solid #B2BABB;
        margin-left: 5%;
    }

    .year_place {
        width: 35%;
        padding-right: 2%;
    }

    .content_tasks {
        width: 65%;
    }

    .bullet_point {
        display: none;
        padding-left: 0;
    }

    ul {
        padding-left: 0;
    }

    li {
        list-style-type: none;
    }

    #recommandation_1 {
        width: 50%;
    }

    #recommandation_2 {
        width: 50%;
        padding-left: 7%;
    }

    #container_footer_loisirs {
        padding-top: 7%;
    }

    .circle_icon {
        width: 50px;
        height: 50px;
        border: 1px solid #424242;
    }
}